body{
    background-image: url("../images/crystal-lighting.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.jumbotron{
    background-image: url("../images/Crystal_Bed.jpg");
    background-repeat: round;
}
.imgBox{
    width: 50px;
    height: 50px;
    margin:20px;
}


.game_description, .box-imgs{
    background-color: white;
    width: 100%;
    margin: 0 auto;
}
.main{
font-size: 1.2em;
}

.box_totalScore{
    width: 100%;
    text-align: center;
    font-size: 1.5em;

}
